@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: $color-text-grey;
}


.header__logo{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    color: $color-primary;
}

.header__navigation {
    ul {
        li{
            a{
                &:link,
                &:visited{
                    text-decoration: none;
                    color: $color-text-grey;
                    font-weight: bold;
                }
                &:hover {
                    color: $color-primary;
                }
                &.is-active{
                    color: $color-primary;
                }
            }
        }
    }
}

.sidebar{
    &__navigation__item{
        a{
            &:link,
            &:visited{
                color: $color-text-grey
            }
            &:hover{
                color: #ddd;
            }
        }
    }
}

.form__input,
.btn {
    font-family: inherit;
    font-size: inherit;
} 
