@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: $color-text-grey;
}

.header{

    &__navigation {
        ul {
            li{
                a{
                    &:link,
                    &:visited{
                        font-size: 1.4rem;
                        color: $color-text-grey;
                        text-decoration: none;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    
                }
            }
        }
        &--icon{
            text-align: right;
            color: rgba($color-text-grey, .5);
        }
    }
}


.heading-primary{
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-family: 'Audiowide', sans-serif;
    font-size: 5rem;
    background-image: url("/assets/img/gym-2.jpg");
    background-position: bottom;
    background-size: cover;
    -webkit-background-clip: text;
    color:transparent;
    &__parcial__bold {
        color: $color-primary;
        font-size: 7rem;
    }
}

.sidebar{
    &__navigation__item{
        a{
            &:link,
            &:visited{
                color: $color-text-grey
            }
            &:hover{
                color: #ddd;
            }
        }
    }
}

.form__input,
.btn {
    font-family: inherit;
    font-size: inherit;
} 
