@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: $color-text-grey;
}


.header__logo{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    color: $color-primary;
}

.header__navigation {
    ul {
        li{
            a{
                &:link,
                &:visited{
                    text-decoration: none;
                    color: $color-white;
                    font-weight: bold;
                }
                &:hover {
                    color: $color-off-white;
                }
            }
        }
    }
}
.heading-primary{
    text-transform: uppercase;
    color: $color-text-grey;
    margin-bottom: 3rem;
    font-family: 'Audiowide', sans-serif;
    font-size: 3.6rem;

    &__parcial {
        display: block;
        text-align: center;
    }
    &__parcial__bold {
        color: $color-primary;
        font-size: 4.8rem;
    }
}

.sidebar{
    &__navigation__item{
        a{
            &:link,
            &:visited{
                color: $color-text-grey
            }
            &:hover{
                color: #ddd;
            }
        }
    }
}

.form__input,
.btn {
    font-family: inherit;
    font-size: inherit;
} 
