

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: .1rem solid $color-grey;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 2rem;

    &__control,
    &__icon {
        display: inline-block;
    }
    &__control {
        border: none;
        font-size: 2rem;
        width: 75%;
    }
    &__btn {
        background-color: $color-off-white;
        border-radius: 0 .5rem .5rem 0;
        padding:1rem;
    }
    &__icon {
        border: none;
        color: $color-text-grey;
    }
}

