.dashboard-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 4rem;
}

.sidebar {
    background-color: $color-white;
    width: 25rem;
    padding: 4.5rem 1rem 0 1rem;
    order: 1;

    &__navigation {
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
            display: block;
            padding: 1rem 0;
            font-size: 2rem;

            a {
                display: block;
                text-decoration: none;
                font-weight: bold;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__item:first-child{
            padding-top: 0;
        }
    }

    @media only screen and  (max-width : 768px) {
        display: none;
    }
}

.page-content {
    margin: 4.5rem 2rem 0;
    flex: 1;
    order: 2;

    &__box{
        max-width: 114rem;
        margin: 0 auto;
    }
}

.table{
    border-collapse: collapse;
    width: 100%;
    cursor: default;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 3px .6rem rgba($color-black, 0.2);
    
    @media only screen and  (max-width : 768px) {
        font-size: 1.4rem;
    }
    tr{
        &:hover {
            background-color: rgba($color-grey, .3);
        }
    }
    td, th {
        border-bottom: 1px solid rgba($color-darker-grey, .3);
        padding: 0 .8rem;
    }
    th {
        height: 6.4rem;
        text-align: left;
        color: $color-primary;

        .fa-angle-down{
            float: right;
        }
        @media only screen and  (max-width : 768px) {
            font-size: 1.2rem;
        }
    }
    td {
        height: 4.8rem;
        p {
            display: inline-block;
            padding: .5em 0;
        } 
    }
    &__cell--spread {
        text-align: center;
    }
}
