.dashboard-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 4rem;
}

.sidebar {
    background-color: $color-white;
    width: 25rem;
    padding: 4.5rem 1rem 0 1rem;
    order: 1;

    &__navigation {
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
            display: block;
            padding: 1rem 0;
            font-size: 2rem;

            a {
                display: block;
                text-decoration: none;
                font-weight: bold;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__item:first-child{
            padding-top: 0;
        }
    }
}

.page-content {
    margin: 4.5rem 2rem 0;
    flex: 1;
    order: 2;
}

.table{
    border-collapse: collapse;
    width: 100%;
    cursor: default;
    tr{
        &:hover {
            background-color: $color-grey;
        }
    }
    td, th {
        border: .1rem solid $color-grey;
        padding: .8rem;
    }
    th {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        background-color: $color-primary;
        text-align: left;
        color: $color-white;

        .fa-angle-down{
            float: right;
        }
    }
    td {
        p {
            display: inline-block;
            padding: .5em 0;
        } 
    }
    &__cell--spread {
        text-align: center;
    }
}
