.logger-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: $color-white;
    width: 25rem;
    padding-top: 4.3rem;
    order: 1;

    &__navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        &__item {
            display: block;
            padding: 1rem 0;

            a {
                text-decoration: none;
                color: $color-grey-dark;
                display: block;
                font-weight: bold;
            }

            &:hover {
                background-color: #ddd;
            }
        }
    }
}

.content {
    margin: 4.3rem 20px 0;
    flex: 1;
    order: 2;
}

// Table
#entries{
    border-collapse: collapse;
    width: 100%;
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $primary;
        color: $white;
    }
    tr:hover {
        background-color: #ddd;
    }
}
