@import './settings.scss';

.logger {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: $white;
    width: 250px;
    order: 1
}

.content {
    margin: 4.3rem 20px 0;
    flex: 1;
    order: 2;
    // text-align: center;
}

// Table
#entries{
    border-collapse: collapse;
    width: 100%;
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $primary;
        color: $white;
    }
}

