@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.page-title {
  padding: 4rem 0 1rem 0; }

.logger {
  display: flex;
  flex-direction: row;
  height: 100vh; }

.sidebar {
  background-color: #fff;
  width: 250px;
  padding-top: 4.3rem;
  order: 1; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .sidebar ul li {
      display: block;
      padding: 1em 0; }
      .sidebar ul li a {
        text-decoration: none;
        color: #555;
        display: block;
        font-weight: bold; }
    .sidebar ul li:hover {
      background-color: #ddd; }

.content {
  margin: 4.3rem 20px 0;
  flex: 1;
  order: 2; }

#entries {
  border-collapse: collapse;
  width: 100%; }
  #entries td, #entries th {
    border: 1px solid #ddd;
    padding: 8px; }
  #entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #656fcf;
    color: #fff; }
  #entries tr:hover {
    background-color: #ddd; }
