@import './settings.scss';

.logger {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: $white;
    width: 250px;
    margin-right: 20px;
}

.content {
    margin: 0 auto;
    text-align: center;
}

