// Colors

$white: #fff;
$pearl: #f5f5f5;
$primary: #656fcf;
$font-color: #555;
$clearer-primary: #8bc3c2;
$secondary: #d7844d;
$clearer-secondary: #e3a071;

//Fonts

@import url("https://fonts.googleapis.com/css?family=Roboto");

@import url("https://fonts.googleapis.com/css?family=Montserrat");



//Pages 

.page-title {
    padding: 4rem 0 1rem 0;
}