

.btn {   
    &:hover{
        cursor: pointer;
    }
}

//*********************   Button Styles   *************************
.btn-primary {

    background-color: $color-primary;
    color: $color-white-shade; 

    &:hover{
        background-color: $color-primary-dark;
    }
    &:active {
        background-color: $color-primary-darker;
    }
}

.btn-default{

    color:$color-text-grey;

    &:hover{
        background-color: $color-grey;
    }
    &:active {
        background-color: $color-darker-grey;
    }
}

.btn-primary,
.btn-default {
    border: none;
}

//*********************   Button Sizes   *************************

.btn-md{
    font-size: 2rem;
    height: 5rem;
    text-transform: uppercase;
}

//*********************   Button Layouts   *************************
.btn-inline-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .btn-primary,
    .btn-default {
        display: inline-block;
        width: 100%;
    }
}

//*********************   Button types   *************************

.btn-delete {
    font-size: 2rem;
    padding: 1rem;
    width: 13rem;
}

.btn-add {
    background-color: $color-primary;
    color:white;
}

.btn-floating {
    position: fixed;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    bottom: 4rem;
    right: 4rem;
    box-shadow: 0 3px .6rem rgba($color-black, 0.2);
   
    @media only screen and (min-width : 768px) {
        display: none;
    }
}

//*****************   Google Button Styles   **********************

.btn-google {
    text-align: center;

    &__logo {
        display: inline-block;
        background: url('/assets/img/btn_google_signin_dark_normal_web.png') no-repeat;
        width: 19rem;
        height: 4.6rem;
    }
}