
.btn-primary {
    background-color: $color-primary;
    font-size: 2rem;
    color: $color-white-shade; 
    height: 5rem;
    text-transform: uppercase;
}

.btn-table {
    border-radius: .3rem;
    padding: .5rem;
    float: right;
}

.btn {
    

    &:hover{
        cursor: pointer;
    }

    &--plain{
        &:hover{
            background-color: $color-grey;
        }

        &:active {
            background-color: $color-darker-grey;
        }
    }
}

