.form-container{
    display: inline-block;
    width: 30rem;
}

.form-style-column {
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 1.5rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: $primary;
    color: $pearl;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
}