.entry-form {
    .form-input {
        font-size: 2rem;
        padding: 1rem;
        margin-bottom: .5rem;
    }
    .SingleDatePickerInput{
        margin-bottom: 15rem;
    }
    .SingleDatePickerInput, .form-input{
        border: none;
    }
}