.entry-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 5rem 15rem 5rem;
    align-items: start; 
    
    .form-input, .DateInput_input {
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 2rem;
        border: none;
        color:$color-text-grey;
    }
        
    input[name=compound] {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    input[name=quantity] {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .SingleDatePickerInput{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        border: none;

        &, .DateInput {
            background-color: transparent;

            &_input{
                text-align: center;
            }
        }

    }

    .btn-delete {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: end;
    }

    .btn-block-group {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5; 
        
    }
}
                


