@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.page-title {
  padding: 4rem 0 1rem 0; }

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 3000;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2); }
  header h2#logo {
    font-size: 24px;
    color: #656fcf;
    margin: 0;
    font-family: 'Roboto', sans-serif; }
  header #navbar ul {
    list-style: none;
    margin: 0; }
    header #navbar ul li {
      display: inline-block; }
      header #navbar ul li a {
        text-decoration: none;
        color: #555;
        display: inline-block;
        padding: 1.3em 25px;
        font-weight: bold; }
      header #navbar ul li a:hover {
        color: #656fcf; }
      header #navbar ul li .is-active {
        color: #656fcf;
        border-bottom: 2px solid #656fcf; }

.page-title {
  padding: 4rem 0 1rem 0; }

.form-container {
  display: inline-block;
  width: 300px; }

.form-style-column {
  display: flex;
  flex-direction: column; }

.form-input {
  height: 1.5em;
  padding: .5em;
  margin-bottom: 1rem; }

.btn-primary {
  background-color: #656fcf;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1em; }

.page-title {
  padding: 4rem 0 1rem 0; }

.logger {
  display: flex;
  flex-direction: row;
  height: 100vh; }

.sidebar {
  background-color: #fff;
  width: 250px;
  order: 1; }

.content {
  margin: 4.3rem 20px 0;
  flex: 1;
  order: 2; }

#entries {
  border-collapse: collapse;
  width: 100%; }
  #entries td, #entries th {
    border: 1px solid #ddd;
    padding: 8px; }
  #entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #656fcf;
    color: #fff; }

.signup {
  text-align: center;
  margin-top: 4.3rem; }

.signin {
  text-align: center;
  margin-top: 4.3rem; }

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif; }
